.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;

    .mat-toolbar {
      background: inherit;

      .close-sidenav-button {
        position: absolute;
        top: 7px;
        right: 10px;
      }
    }
  }

  .sidenav-content {
      .toolbar-main {
          background-color: #e6e6e6;
          margin-bottom: 15px;
      }

    .logo {
      font-size: 1.2em;
      cursor: pointer;
      outline: none;
      margin-right: 0.7rem;
    }

    .nav-links {
      a {
        color: rgba(0, 0, 0, 0.6);

        &.active {
          color: inherit;
        }
      }
    }

    .fill-space {
      flex: 1 1 auto;
    }
  }
}
