.recipe-edit-container {
    .recipe-info {
        margin-bottom: 15px;

        .recipe-info-image {
            margin-bottom: 15px;

            img {
                max-width: 50%;
            }
        }

        .recipe-info-ingredients {
            .mat-form-field {
                margin-right: 10px;
            }

            .add-ingredient-button {
                color: #30af30;
                width: 50px;
                height: 50px;

                mat-icon {
                    font-size: 40px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
    }

    .action-buttons {
        margin-bottom: 15px;
        .button-save {
            margin-right: 10px;
        }
    }
}
