<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" *ngIf="!isLoading" (ngSubmit)="onSubmitForm(authForm)">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email"
                       id="email"
                       name="email"
                       ngModel
                       class="form-control"
                       required
                       email
                >
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       class="form-control"
                       ngModel
                       id="password"
                       name="password"
                       required
                       minlength="6"
                >
            </div>

            <div class="button-group">
            <button [disabled]="!authForm.valid"
                    class="btn btn-primary"
                    type="submit"
            >
                    {{ isLoginMode ? 'Login' : 'Sign Up' }}
            </button>

            <button class="btn btn-primary"
                    (click)="onSwitchMode()"
                    type="button"
            >
                    Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}
            </button>
            </div>
        </form>
    </div>
</div>