<div class="shopping-list-container">
    <div class="add-ingredient" *ngIf="!isAddIngredientFormActive">
        <button mat-icon-button class="add-ingredient-button" (click)="onAddIngredient()">
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>

    <div class="new-ingredient-container" *ngIf="isAddIngredientFormActive">
        <mat-card class="new-ingredient-card" fxLayout="row">
            <form [formGroup]="ingredientForm" (ngSubmit)="onSubmitForm()">
                <div class="new-ingredient-name" fxFlex="45">
                    <mat-form-field>
                        <input
                            matInput
                            formControlName="name"
                            placeholder="Ingredient"/>
                    </mat-form-field>
                </div>

                <div class="new-ingredient-amount" fxFlex="45">
                    <mat-form-field>
                        <input
                            matInput
                            formControlName="amount"
                            placeholder="Amount" />
                    </mat-form-field>
                </div>
    
                <div class="save-ingredient-button" fxFlex fxFlexAlign="center">
                    <button mat-icon-button type="submit" [disabled]="!ingredientForm.valid">
                        <mat-icon>check_circle</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
    
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let ingredient of ingredients, let i = index">
            <mat-card class="ingredient-card">
                <div class="ingredient-container" fxLayout="row">
                    <div class="ingredient-name" fxFlex="45">
                        <span>{{ ingredient.name }}</span>
                    </div>
                    <div class="ingredient-amount" fxFlex="45">
                        <span>{{ ingredient.amount }}</span>
                    </div>
                    <div class="action-buttons" fxFlex fxLayout="row" fxLayoutAlign="space-around">
                        <button mat-icon-button type="button" class="increase-ingredient-button" (click)="onIncreaseIngredient(i)">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                        <button mat-icon-button type="button" class="decrease-ingredient-button" (click)="onDecreaseIngredient(i)">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" type="button" (click)="onDeleteIngredient(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </mat-list-item>
    </mat-list>
</div>
