<div class="shopping-list-container">
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let ingredient of ingredients, let i = index">
            <mat-card class="ingredient-card">
                <div class="ingredient-container" fxLayout="row">
                    <div class="ingredient-name" fxFlex="45">
                        <span>{{ ingredient.name }}</span>
                    </div>
                    <div class="ingredient-amount" fxFlex="45">
                        <span>{{ ingredient.amount }}</span>
                    </div>
                    <div class="action-buttons" fxFlex fxLayout="row" fxLayoutAlign="space-around">
                        <button mat-icon-button class="increase-ingredient-button" (click)="onIncreaseIngredient(i)">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                        <button mat-icon-button class="decrease-ingredient-button" (click)="onDecreaseIngredient(i)">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDeleteIngredient(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </mat-list-item>
    </mat-list>

    <div class="new-ingredient-container">
        <mat-card class="new-ingredient-card" fxLayout="row">
            <mat-form-field>
                <!--            <input-->
                <!--                matInput-->
                <!--                formControlName="name"-->
                <!--                placeholder="Ingredient"/>-->
                <input
                    matInput
                    placeholder="Ingredient"/>
            </mat-form-field>

            <mat-form-field>
                <!--            <input-->
                <!--                matInput-->
                <!--                formControlName="amount"-->
                <!--                placeholder="Amount" />-->
                <input
                    matInput
                    placeholder="Amount" />
            </mat-form-field>

            <div class="action-buttons" fxFlex fxLayout="row" fxLayoutAlign="space-around">
                <button mat-icon-button color="warn" class="save-ingredient" (click)="onSaveIngredient()">
                    <mat-icon>check_circle</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>

    <div class="add-ingredient">
        <button mat-icon-button class="add-ingredient-button">
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
</div>
