.shopping-list-container {
    padding: 0 10%;

    mat-list-item {
        height: auto;
        margin-bottom: 10px;

        .ingredient-card {
            width: 100%;

            .ingredient-container {
                display: flex;
                align-items: center;

                span {
                    display: inline-block;
                }

                .increase-ingredient-button {
                    color: #30af30;
                }

                .decrease-ingredient-button {
                    color: #FF7E00;
                }
            }
        }
    }

    .new-ingredient-container {
        padding: 0 16px;
        .new-ingredient-card {
            .mat-form-field {
                margin-right: 10px;
            }

            .save-ingredient {
                color: #30af30;
            }
        }
    }

    .add-ingredient {
        padding-left: 16px;

        .add-ingredient-button {
            color: #30af30;
            width: 50px;
            height: 50px;

            mat-icon {
                font-size: 40px;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
        }
    }
}
