<div class="recipe-list-view">
    <div class="action-buttons" fxLayout="row" fxLayoutAlign="space-between">
        <div class="add-recipe-container">
            <button mat-stroked-button (click)="onNewRecipe()">Add New Recipe</button>
        </div>
        <div class="add-recipe-container">
            <button mat-stroked-button>Save Changes</button>
        </div>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div class="recipe-list">
        <mat-list>
            <mat-list-item class="list-item" *ngFor="let recipeItem of recipes, let i = index">
                <app-recipe-item
                    [recipe]="recipeItem"
                    [index]="i"
                ></app-recipe-item>
            </mat-list-item>
        </mat-list>
    </div>
</div>
